* {box-sizing: border-box;
    background-color: aqua;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: normal;
    font-weight: normal;
    text-align: left;
    color: black;
}

header {
    text-align: center;
    color: red;
}

h1 {border: 5px solid black;}

p {padding-top: 20px;
padding-left: 10px;
padding-right: 10px;}
footer {
    font-size: small;
    text-align: center;
    text-decoration: overline;
    color: darkblue;
    padding-top: 400px;
}
