* {box-sizing: border-box;
    background-color: aqua;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: normal;
    font-weight: normal;
    text-align: left;
    color: black;
}

header {
    text-align: center;
    color: red;
}

footer {
    font-size: small;
    text-align: center;
    text-decoration: overline;
    color: darkblue;
}
